@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap");
@layer base {
  body {
    @apply bg-slate-900 font-body px-5 text-white;
  }
}
@layer components {
  .page-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: 500px;
  }
  .movie-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .banner .swiper {
    height: 100%;
  }
}
// pagination
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pagination > .selected {
  @apply text-primary;
}

@media screen and (max-width: 1024.98px) {
  .movie-details {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .movie-videos {
    font-size: 25px;
  }
}
@media screen and (max-width: 767.98px) {
  .movie-videos {
    font-size: 20px;
  }
}
